services:
  server:
    platform: linux/amd64
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - 8081:8081
    networks:
      - mynet
    image: mariamcparland/server

  client:
    platform: linux/amd64
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    depends_on:
      - server
    networks:
      - mynet
    image: mariamcparland/client

networks:
  mynet:
